<div id="mapModal" class="modal">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-left" href="#mapModal"></a>
    <h1 class="title">选取地址</h1>
  </header>
  <div class="bar bar-standard bar-header-secondary">
    <div style="margin-right:30px">
      <input type="search" ng-model="activity.address"></input>
      <div class="tips" ng-show="tips.length > 0">
        <div ng-repeat="tip in tips" hm-tap="tapTip(tip)">
          {{tip.name}}
          <span style="color:#C1C1C1;">{{tip.district}}</span>
        </div>
      </div>
    </div>
    <a class="icon icon-search pull-right" hm-tap="mapSearch()"></a>
  </div>
  <div class="content">
    <div id="l-map"></div>
  </div>
</div>