@import "base/colors"

.footer
  background-color: assist-color3
  
  ul
    border-bottom: none
    
    li
      width: 80px;
      text-align: center
      a
        margin: 0
        color: brand-font-color
        border-radius: initial
        border: none

        &:focus, &:hover
          background-color: brand-color
          color: brand-back-font-color