.businessModal
  .popover
    position: fixed
    top: 90px
    z-index: 20
    display: none
    width: 100%
    background-color: #fff
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.1)
    box-shadow: 0 0 15px rgba(0,0,0,.1)
    opacity: 0
    -webkit-transition: all .25s linear
    -moz-transition: all .25s linear
    transition: all .25s linear
    -webkit-transform: translate3d(0,-15px,0)
    -ms-transform: translate3d(0,-15px,0)
    transform: translate3d(0,-15px,0)

    &.visible
      opacity: 1
      -webkit-transform: translate3d(0,0,0)
      -ms-transform: translate3d(0,0,0)
      transform: translate3d(0,0,0)