<div>
  <header class="bar bar-nav">
    <back-button/>
    <h1 class="title">活动详情</h1>
  </header>
  <scrollable show-scrollbar="true" scroller-id="s1" class="content">
    <div class="area image-area">
      <button class="btn btn-positive pull-right join" hm-tap="join()" ng-if="isAuthorized() && !hasJoined(actId)">报名</button>
      <img class="img-responsive center-block" ng-src="{{images}}">
    </div>
    <h4 class="area">{{actTitle}}</h4>
    <p>类别：{{category}}</p>
    <p>费用：{{fee}}</p>
    <p>时间：{{time}}</p>
    <p>发起：{{planner}}</p>
    <a href="#mapModal" hm-tap="tapAddress()">地点：{{address}}</a>
    <div class="list-group" show-scrollbar="true" class="list-group">
      <li ng-repeat="item in items" class="list-group-item">
        <p>{{item.title}}</p>
        <p>地点：{{item.place}}</p>
        <p>内容：{{item.content}}</p>
        <p>持续时间：{{item.lasting}}</p>
      </li>
    </div>
    <li ng-repeat="member in members" class="">
      <a href="#/user">{{member.nickname}}&nbsp;</a>
    </li>
    <li ng-repeat="discuss in messages" class="">
      <p>{{discuss.user}}&nbsp; {{discuss.time}}</p>
      <p>{{discuss.message}}</p>
    </li>
    <div ng-show="isAuthorized() && hasJoined(actId)">
      <div class="input-rows">
        <label>留言</label>
        <textarea ng-model="comment.text" rows="3"></textarea>
      </div>
      <button type="button" hm-tap="addMessage()" class="btn btn-primary btn-block" style="margin-top: 10px">提交</button>
    </div>
  </scrollable>

  <div id="mapModal" class="modal">
    <header class="bar bar-nav">
      <a class="icon icon-close pull-left" href="#mapModal"></a>
      <h1 class="title">查看地址</h1>
    </header>
    <div class="bar bar-standard bar-header-secondary">
      <div class="segmented-control">
        <a class="control-item active">驾车</a>
        <a class="control-item">公交</a>
        <a class="control-item">步行</a>
      </div>
    </div>
    <div class="content">
        <div id="l-map"></div>
    </div>
  </div>
</div>