<g-view id="home" hm-swipeleft="swipePage('left')" hm-swiperight="swipePage('right')">
  <header class="bar bar-nav">
    <a class="btn btn-link pull-right" href="#filterPopover">筛选</a>
  </header>
  <scrollable show-scrollbar="true" scroller-id="s1" class="content"> 
    <ul class="table-view">
      <li ng-repeat="act in acts" hm-tap="onActTap(act)" class="table-view-cell media">
        <a class="navigate-right">
          <img class="media-object pull-left" ng-src="{{act.images}}">
          <div class="media-body">
            {{act.title}}
            <p>{{act.time}}</p>
            <p>{{act.address}}</p>
            <p>{{act.fee}}</p>
            <h5>{{act.planner}}<h5>
          </div>
        </a>
      </li>
    </ul>
  </scrollable>

  <div id="filterPopover" class="popover">
    <p>选择活动时间</p>
    <div class="segmented-control">
      <a class="control-item active">不限</a>
      <a class="control-item">今天</a>
      <a class="control-item">明天</a>
      <a class="control-item">周末</a>
    </div>
    <p>选择活动类型</p>
    <div class="segmented-control">
      <a class="control-item active">不限</a>
      <a ng-repeat="category in ActivityCategories" class="control-item">{{category}}</a>
    </div>
    <p>选择活动排序</p>
    <div class="segmented-control">
      <a class="control-item active" hm-tap="switchAllActivities()">推荐</a>
      <a class="control-item" hm-tap="switchNearbyActivities()">附近</a>
    </div>
  </div>

</g-view>