<g-view id="home">
    <header></header>
    <scrollable show-scrollbar="true" scroller-id="s1" class="content"> 
        <ul class="table-view">
          <li ng-repeat="act in pub_acts" hm-tap="onActTap(act)" class="table-view-cell media">
            <a class="navigate-right">
              <img class="media-object pull-left" src="http://placehold.it/42x42">
              <div class="media-body">
                {{act.title}}
                <p>{{act.time}}</p>
              </div>
            </a>
          </li>
        </ul>
    </scrollable>
    <footer></footer>
</g-view>