<g-view id="new-activity">
  <title-bar></title-bar>
  <scrollable show-scrollbar="true" scroller-id="s1" class="content">
    <form class="input-group">
      <div class="input-row">
        <label>封面</label>
        <input type="text" ng-model="activity.images" placeholder="Enter Pic">
      </div>
      <div class="input-row">
        <label>标题</label>
        <input type="text" ng-model="activity.title" placeholder="Enter Title">
      </div>
      <div>
        <label>分类</label>
        <select ng-model="activity.category" ng-options="ActivityCategories.indexOf(o) as o for o in ActivityCategories" ng-change="categoryChange()">
          <option value="">请选择</option>
        </select>
      </div>
      <div>
        <label>Fee</label>
        <select ng-model="activity.fee" ng-options="fees.indexOf(o) as o for o in fees" ng-change="feeChange()">
          <option value="">请选择</option>
        </select>
      </div>
      <div class="input-row">
        <label>Time</label>
        <input type="text" ng-model="activity.time" placeholder="Enter time">
      </div>
      <div class="input-row">
        <label>
          <a href="#mapModal" hm-tap="mapSearch()">Address</a>
        </label>
        <input type="text" ng-model="activity.address" placeholder="Enter address">
      </div>
      <div class="input-row">
        <label>Content</label>
        <textarea ng-model="activity.content" rows="3"></textarea>
      </div>
      <div>
        <label>Scope</label>
        <li ng-repeat="scope in ActivityScopes">
          <input type="radio" ng-model="activity.scope" name="optionsScope" value="{{scope.value}}" ng-checked="{{scope.checked}}">{{scope.text}}
        </li>
      </div>

      <button type="button" hm-tap="addItem()" class="btn btn-default">+</button>
        
      <li ng-repeat="item in items" class="list-group-item">
        <div activity-item data="item"></div>
      </li>

      <button type="button" hm-tap="save()" class="btn btn-default">Save</button>
    </form>
  </scrollable>
  <div id="mapModal" class="modal">
    <header class="bar bar-nav">
      <a class="icon icon-close pull-left" href="#mapModal"></a>
      <input type="search" ng-model="activity.address">
      <a class="icon icon-search pull-right" hm-tap="mapSearch()"></a>
    </header>
    <div class="content">
      <div id="l-map"></div>
    </div>
  </div>
  <nav-bar ds="barTabs" active="new"></nav-bar>
</g-view>