<g-view id="new-activity">
  <header class="bar bar-nav">
    <a class="btn btn-link btn-nav pull-left" href="#user_console">
      <span class="icon icon-left-nav"></span>
    </a>
    <h1 class="title">新建活动</h1>
    <button type="button" hm-tap="save()" class="btn btn-positive pull-right">保存</button>
  </header>
  <scrollable show-scrollbar="true" scroller-id="s1" class="content with-footer">
    <form class="input-group">
      <div class="input-row">
        <label>封面</label>
        <input type="text" ng-model="activity.images" placeholder="Enter Pic">
      </div>
      <div class="input-row">
        <label>标题</label>
        <input type="text" ng-model="activity.title" placeholder="Enter Title">
      </div>
      <div class="input-row">
        <label>
          <a href="#businessModal" hm-tap="categorySearch()">分类</a>
        </label>
        <select ng-model="activity.category" ng-options="ActivityCategories.indexOf(o) as o for o in ActivityCategories" ng-change="categoryChange()">
          <option value="">请选择</option>
        </select>
      </div>
      <div class="input-row">
        <label>费用</label>
        <select ng-model="activity.fee" ng-options="fees.indexOf(o) as o for o in fees" ng-change="feeChange()">
          <option value="">请选择</option>
        </select>
      </div>
      <div class="input-row">
        <label>时间</label>
        <input type="text" ng-model="activity.time" placeholder="Enter time">
      </div>
      <div class="input-row">
        <label>
          <a href="#mapModal" hm-tap="mapSearch()">地点</a>
        </label>
        <input type="text" ng-model="activity.address" placeholder="Enter address">
      </div>
      <div class="input-rows">
        <label>内容</label>
        <textarea ng-model="activity.content" rows="3"></textarea>
      </div>
      <div class="input-rows">
        <label>权限</label>
        <div ng-repeat="scope in ActivityScopes">
          <input type="radio" ng-model="activity.scope" name="optionsScope" value="{{scope.value}}" ng-checked="{{scope.checked}}">{{scope.text}}
        </div>
      </div>

      <div ng-repeat="item in items" class="act-item" activity-item data="item">
        {{$index}}
      </div>

      <button type="button" hm-tap="addItem()" class="btn btn-primary btn-block" style="margin-top: 10px">添加项目</button>

    </form>
  </scrollable>

  <div ng-include="'partials/components/map_modal.html'"></div>

  <business-modal></business-modal>

  <nav-bar ds="barTabs" active="new"></nav-bar>
</g-view>