<g-view id="register">
  <scrollable show-scrollbar="true" scroller-id="s1" class="content"> 
    <form class="input-group">
      <div class="input-row">
        <label>Username</label>
        <input type="text" placeholder="goRatchet">
      </div>
      <div class="input-row">
        <label>Headicon</label>
        <input type="text" ng-model="headicon" placeholder="Enter head icon">
      </div>
      <div class="input-row">
        <label>UserName</label>
        <input type="text" ng-model="username" placeholder="Enter user name">
      </div>
      <div class="input-row">
        <label>Password</label>
        <input type="password" ng-model="userpass" placeholder="Password">
      </div>
      <div class="input-row">
        <label>NickName</label>
        <input type="text" ng-model="nickname" placeholder="Enter nick name">
      </div>
      <div class="input-row">
        <label>Email</label>
        <input type="email" ng-model="email" placeholder="Enter email">
      </div>
      <div class="input-row">
        <label>Phone</label>
        <input type="text" ng-model="phone" placeholder="Enter phone number">
      </div>
      <div class="input-row">
        <label>Address</label>
        <input type="text" ng-model="address" placeholder="Enter address">
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="sex" name="optionsSex" id="optionsMale" value="male" ng-checked=true>male
        </label>
      </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="sex" name="optionsSex" id="optionsFemale" value="female">female
          </label>
        </div>
      <button type="submit" hm-tap="doRegister()" class="btn btn-default">Submit</button>
    </form>
  </scrollable>
</g-view>