<g-view id="setting">
  <header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left" href="#user_console"></a>
    <h1 class="title">Setting</h1>
  </header>
  <scrollable show-scrollbar="true" scroller-id="s1" class="content">
    <ul class="table-view">
      <li class="table-view-cell media">
        <a class="navigate-right">
          <span class="media-object pull-left icon icon-trash"></span>
          <div class="media-body">
            Mine
          </div>
        </a>
      </li>
      <li class="table-view-cell media">
        <a class="navigate-right">
          <span class="media-object pull-left icon icon-gear"></span>
          <div class="media-body">
            Joined
          </div>
        </a>
      </li>
      <li class="table-view-cell table-view-divider"></li>
      <li class="table-view-cell">
        Accept Notice
        <div class="toggle">
          <div class="toggle-handle"></div>
        </div>
      </li>
      <li class="table-view-cell">
        Voice
        <div class="toggle">
          <div class="toggle-handle"></div>
        </div>
      </li>
      <li class="table-view-cell table-view-divider"></li>
    </ul>
  </scrollable>
</g-view>