<g-view id="user-console">
  <scrollable show-scrollbar="true" scroller-id="s1" class="content">
    <ul class="table-view">
      <li hm-tap="modUser(user)" class="table-view-cell media">
        <div class="headicon" style="background-image:url({{user.headicon}})"></div>
        <span class="navigate-right">
          <span class="media-body">
            {{user.nickname}}
            <p>{{user.username}}</p>
            <p>{{user.sex}}</p>
          </span>
        </span>
      </li>
    </ul>
    <ul class="table-view">
      <li class="table-view-cell media">
        <a class="navigate-right">
          <span class="media-object pull-left icon icon-trash"></span>
          <div class="media-body">
            Mine
          </div>
        </a>
      </li>
      <li class="table-view-cell media">
        <a class="navigate-right">
          <span class="media-object pull-left icon icon-gear"></span>
          <div class="media-body">
            Joined
          </div>
        </a>
      </li>
      <li class="table-view-cell table-view-divider"></li>
      <li class="table-view-cell media">
        <a class="navigate-right">
          <span class="media-object pull-left icon icon-pages"></span>
          <div class="media-body">
            Friends
          </div>
        </a>
      </li>
      <li class="table-view-cell table-view-divider"></li>
      <li class="table-view-cell media">
        <a class="navigate-right" href="#setting">
          <span class="media-object pull-left icon icon-settings"></span>
          <div class="media-body">
            Setting
          </div>
        </a>
      </li>
    </ul>
  </scrollable>
  <nav-bar ds="barTabs"></nav-bar>
</g-view>