#detail

  .area
    padding: 10px
    border-bottom: solid 1px rgb(231, 231, 231)
    
    
  .image-area
    padding: 10px
    height: 200px
    border-bottom: solid 1px rgb(231, 231, 231)

    .img-responsive
      height: 100%

  h4.area
    font-weight: normal

  #l-map
    width: 100%
    height: 100%
    overflow: hidden
    margin:0