
g-view#home
  .content
    bottom: footer-height-normal
    
  .table-view
    .media-object.pull-left
      width: 110px
      height: 165px
    
    .table-view-cell
      padding: 11px 15px 11px 15px
      
      >a:not(.btn)
        margin: -11px -15px -11px -15px;
        
    .navigate-right:after, .push-right:after
      content: none
      
  #filterPopover
    padding: 10px
    width: 90%
    margin-left: -45%
    
    &:before
      content: none

    .segmented-control .control-item
      white-space: initial
    
    p
      margin-top: 10px
      margin-bottom: 0