g-view#login
  background: url(http://cnratchet.com/assets/img/slide-3.jpg)
  form
    position: absolute
    padding: 50px
    top: 50%
    margin-top: -50%
    
    button
      width: 45%
      height: 35px