g-view#new-activity
  .content
    bottom: footer-height-normal

  form
    padding: 10px
    
    .input-row
      
      select
        width: 65%
        margin: 5px 0
        
    .input-rows
      height: auto
      overflow: hidden
      border-bottom: 1px solid #ddd

      label
        float: left
        width: 35%
        padding: 8px 15px
        font-family: "Helvetica Neue",Helvetica,sans-serif
        line-height: 1.1
        
    .act-item
      margin: 10px
    
  #mapModal

    .bar-header-secondary

      .tips
        background-color: white
        font-size: 14px
        padding: 5px
        line-height: 20px

      a
        position: absolute
        right: 5px
        top: 0

    .content
      bottom: 0

      #l-map
        width: 100%
        height: 100%
        overflow: hidden
        margin:0

  #businessModal
    .bar-header-secondary
      select
        width: 100px
    .content
      bottom: 0
      
      .business-photo
        width: 100px
    