g-view#new-activity
  .content
    bottom: footer-height-normal

  form
    padding: 10px
    
  #mapModal
  .content
    bottom: 0
    
    .bar
      input
        width: auto
        margin: 6px 15px;

    #l-map
      width: 100%
      height: 100%
      overflow: hidden
      margin:0