@import "base/colors"
@import "base/consts"

@import "component/scroller"
@import "component/footer"

@import "view/home"

.g-view, g-view
  
  .bar-nav~.content
    margin-top: header-height-normal
    padding-top: 0

  .content
    margin-bottom: footer-height-normal !important