@import "base/colors"
@import "base/consts"

@import "component/scroller"
@import "component/nav-bar"

@import "view/home"
@import "view/login"
@import "view/new-activity"

.g-view, g-view
  
  .bar-nav~.content
    top: header-height-normal
    padding-top: 0

  .content
    bottom: footer-height-normal