@import "base/colors"
@import "base/consts"

@import "component/scroller"
@import "component/nav-bar"
@import "component/layout"

@import "view/home"
@import "view/detail"
@import "view/login"
@import "view/new-activity"
@import "view/user-console"

.g-view, g-view
  
  .bar-nav~.content, .bar~.content
    top: header-height-normal
    padding-top: 0

  .content
    background-color: #fafafa;