<div id="businessDetailModal" class="modal">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-left" href="#businessDetailModal"></a>
    <h1 class="title">{{business.name}}</h1>
  </header>
  <scrollable show-scrollbar="true" scroller-id="s1" class="content">
    <img class="media-object business-photo" ng-src="{{business.photo_url}}">
    <div class="media-body">
      {{business.name}}
      <p>{{business.address}}</p>
      <p>{{business.tel}}</p>
    </div>
  </scrollable>
</div>